
<ul class="pl-topNavigation shadow-sm p-0 mb-0 bg-white rounded d-sm-none d-md-block d-none" style="list-style:none;">
    @*<li>
        @Html.ActionLink("Electronics", "GetByCategory", "Proton", new { category = "Electronics" }, null)
    </li>*@
    <li>
        @Html.ActionLink("Travel", "GetByCategory", "Proton", new { category = "Travel" }, null)
    </li>
    <li>
        @Html.ActionLink("Tech", "GetByCategory", "Proton", new { category = "Tech" }, null)
    </li>
    <li>
        @Html.ActionLink("Mobiles", "GetByCategory", "Proton", new { category = "Mobiles" }, null)
    </li>
    <li>
        @Html.ActionLink("Beauty", "GetByCategory", "Proton", new { category = "Beauty" }, null)
    </li>
    <li>
        @Html.ActionLink("Food and Lifestyle", "GetByCategory", "Proton", new { category = "Lifestyle" }, null)
        @*Health Fitness , cooking*@
    </li>
    <li>
        @Html.ActionLink("Entertainment", "GetByCategory", "Proton", new { category = "Entertainment" }, null)
        @*Movies, Sport , Music*@
    </li>
</ul>

